<form method="post" action="{{ path('shared_company_invite_delete', {'id': company_invite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company_invite.id) }}">
    <button class="btn">Delete</button>
</form>