{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Create new Company</h1>

    {{ include('shared_company/_form.html.twig') }}

    <a href="{{ path('shared_company_index') }}">back to list</a>
{% endblock %}