{% extends 'base.html.twig' %}

{% block title %}New CompanyHandshake{% endblock %}

{% block body %}
    <h1>Create new CompanyHandshake</h1>

    {{ include('shared_company_handshake/_form.html.twig') }}

    <a href="{{ path('shared_company_handshake_index') }}">back to list</a>
{% endblock %}