{% extends 'base.html.twig' %}

{% block title %}New GlobalWellAccessTable{% endblock %}

{% block body %}
    <h1>Create new GlobalWellAccessTable</h1>

    {{ include('shared_global_well_access_table/_form.html.twig') }}

    <a href="{{ path('shared_global_well_access_table_index') }}">back to list</a>
{% endblock %}